@use './variables.scss' as *;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #023246;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    all: initial;
}






/* MASTER STYLES */


h1{
    font-size: 72px;
    font-weight: 400;
    font-family: $neue;
    text-transform: uppercase;
    color: $azul-ermo;
    text-align: left;
    line-height: 64pt;
    letter-spacing: 1px;

    @include media1200px {
        font-size: 40pt;
        line-height: 50pt;
    }

    @include media800px {
        font-size: 35pt;
        line-height: 40pt;
    }
}

h2{
    font-size: 40px;
    font-weight: 500;
    font-family: $neue;
    color: $blanco-med;
    letter-spacing: -1.5px;
    text-align: center;
}

h3{
    font-size: 30px;
    font-weight: 600;
    font-family: $neue;
    color: $blanco-med;
    letter-spacing: -1.5px;
    text-align: center;
}

h4{
    font-size: 18px;
    font-weight: 400;
    font-family: $owners;
    color: $azul-ermo;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
}

p{
    font-size: $fuente-p;
    font-weight: 400;
    font-family: $neue;
    color: $blanco-med;
    line-height: 16pt; 
    letter-spacing: -0.2px;
    text-align: center;

    @include media800px {
        font-size: 14pt;
        line-height: 1.4em;
    }
}

a{
    font-size: $fuente-p;
    font-weight: 400;
    font-family: $owners;
    color: $gris-ermo;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: auto;

    @include media800px {
        font-size: 11pt;
    }
}

::selection {
    background-color: $amarillo-ermo; /* Fondo dorado */
    color: $negro-ermo; /* Color del texto negro */
    text-shadow: none; /* Sin sombra de texto */
} ::-moz-selection{
    background-color: $amarillo-ermo; /* Fondo dorado */
    color: $negro-ermo; /* Color del texto negro */
    text-shadow: none; /* Sin sombra de texto */
}

strong{
    font-weight: 600;
}










.title{
    @extend %margin-auto;
}



.master__body{

    padding: 0% 20% 0% 20%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    

    @include media1200px {
        padding: 0% 10% 0% 10%;
    }

    @include media900px {
        padding: 0% 5% 0% 5%;
    }

    @include media500px {
        padding: 0% 3% 0% 3%;
    }
}


.master_button{
    width: auto;
}

.comboButton{
    display: flex;
    margin-top: 50px;

    @include media500px {
        display: block;
    }
}

.button {
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 12px 10px 12px 10px;
    border-radius: 32px;
    background-color: $azul-med-oscuro;

    @include media500px {
        padding: 10px 10px 10px 10px;
    }

 

    p {
        font-size: 1.3em;
        font-weight: 500;
        font-family: $neue;
        color: $azul-med-claro;
        text-align: center;

        @include media500px {
            font-size: 16px;
        }
    }
    &:hover {
        background: $azul-ermo;
        p {
            color: $blanco-ermo;
        }
        .arrow__svg {
            fill: $blanco-ermo;
            transform: rotateZ(-45deg);
            transition: $transition-short;
        }
    }
    &.button-large {
        width: 20vw;

        @include media1200px {
            width: 50vw;
        }
    }
    &.button-white {
        border: solid 1.5px $blanco-ermo;
        p {
            color: $blanco-ermo;
        }
        &:hover {
            background-color: $blanco-ermo;
            p {
                color: $azul-ermo;
            }
            .arrow__svg {
                fill: $azul-ermo;
                transform: rotateZ(-45deg);
                transition: $transition-short;
            }
        }
    }
}

.button_claro{
    background-color: $azul-med-claro;
    width: auto;
    justify-content: center;
    margin: 30px auto 0 auto;

    p{
        color: $azul-med-oscuro;
        text-align: center;
        font-size: 16pt;

        @include media500px {
            font-size: 16pt;
            letter-spacing: -0.5px;
        }
    }
}





//LINEAS

.linea_horizontal{
    background-color: $azul-med-claro;
    width: 95%;
    height: 1pt;
    margin-top: 12vh;
    margin-bottom: 12vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.linea_vertical{
    background-color: $azul-med-claro;
    width: 1pt;
    height: 30vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.linea_horizontal_oscuro{
    background-color: $azul-med-oscuro;
    width: 95%;
    height: 1pt;
    margin-top: 12vh;
    margin-bottom: 12vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.linea_vertical_oscuro{
    background-color: $azul-med-oscuro;
    width: 1pt;
    height: 30vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}










//DESTACADOS

.azul-claro {color: $azul-med-claro !important;}

.bg-azul-claro {background-color: $azul-med-claro !important; max-width: 100% !important;}

.azul-oscuro {color: $azul-med-oscuro !important;}

.bg-azul-oscuro {background-color: $azul-med-oscuro !important;}

.blanco {color: $blanco-med !important;}

.bg-blanco {background-color: $blanco-ermo !important;}

.subrayado {text-decoration: underline !important;}

.negrita {font-weight: 600 !important;}

.regular {font-weight: 400 !important;}










//NAVBAR

.navbar__master{
    background-color: $blanco-med;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5em;
    margin-top: 1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    @include media500px {
        margin-right: 10px;
        margin-left: 10px;
        padding: 0px;
    }

    .navbar__logo img{
        max-width: 60px;
        height: auto;
        padding: 1em;
    }

    .button{
        margin-right: 0.5em;
    }

}




//CUERPO

.medworld_full_logo{
    width: 80vw;
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    margin-top: 25vh;

    @include media600px {
        max-width: 90vw;
        margin-top: 15vh;
    }

}

.title{
    color: $blanco-med;
    text-transform: none;
    text-align: center;
    font-size: 2em;
    line-height: 1.2em;
    font-family: $neue;
    letter-spacing: 0;

    margin-top: 20px;
    max-width: 60vw;

    @include media900px {
        font-size: 1.5em;
    }

    @include media600px {
        max-width: 80vw;
        margin-top: 10px;
    }

    .title_v1{
        font-style: italic;
    }

    .title_v2{
        text-decoration: underline;
    }
}

.pilares{

    margin-top: 20vh;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include media400px {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        max-width: 90%;
    }
  
    .cajon__pilares{
        display: flex;
        margin-bottom: 20px;
        border: solid 2px $blanco-med;
        border-radius: 1em;
        align-items: center;

        .pilar_img{
            max-height: 100px;
            width: auto;
            margin: 20px;

            @include media400px {
                max-height: 80px;
                margin: 15px;
            }
        }

        p{
            color: $blanco-med;
            font-family: $neue;
            font-size: 1.5em;
            line-height: 1.2em;
            margin-right: 20px;

            @include media500px {
                font-size: 1.3em;
            }
        }
    }
}





.circulo-azul{
    background-color: $azul-med-claro;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    p{
        font-size: 32pt;
        text-align: center;
        color: $azul-med-oscuro;
        font-weight: 600;
        position: absolute;
        top: 67px;
        left: 40px;
    }
}




.button_disclaimer_1{
    font-size: 12pt;
    margin-top: 10px;
}



.box_resultados{
    background-color: $azul-med-oscuro;
    border-radius: 40px;
    padding: 15px 15px 15px 15px;
}



//FOOTER

.footer{
    background-color: $azul-med-claro;
    margin-top: 15vh;
    border-radius: 20px 20px 0 0;
    padding: 20px;

    .footer__logo{
        width: 200px;
        margin-bottom: 30px;
    }

    p{
        color: $azul-med-oscuro;
        font-size: 1em;

        @include media500px {
            font-size: 1em;
        }
    }

    a{
        color: $azul-med-oscuro;
        font-weight: 600;
    }
}


