* {
    cursor: none !important;
  } a, button, input, textarea {
    cursor: none !important; 
    user-select: none !important;
  }

  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    all: initial;
}


@import './variables.scss';





/* MASTER STYLES */


h1{
    font-size: 72px;
    font-weight: 400;
    font-family: $owners;
    text-transform: uppercase;
    color: $azul-ermo;
    text-align: left;
    line-height: 64pt;
    letter-spacing: 1px;

    @include media1200px {
        font-size: 40pt;
        line-height: 50pt;
    }

    @include media800px {
        font-size: 35pt;
        line-height: 40pt;
    }
}

h2{
    font-size: 32px;
    font-weight: 400;
    font-family: $owners;
    text-transform: uppercase;
    color: $azul-ermo;
    letter-spacing: 1px;
    text-align: left;
}

h3{
    font-size: 18px;
    font-weight: 400;
    font-family: $owners;
    color: $gris-ermo;
    letter-spacing: 0.5px;
    text-align: left;
}

h4{
    font-size: 18px;
    font-weight: 400;
    font-family: $owners;
    color: $azul-ermo;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
}

p{
    font-size: $fuente-p;
    font-weight: 400;
    font-family: $neue;
    color: $gris-ermo;
    line-height: 16pt; 
    letter-spacing: -0.54px;
    text-align: left;

    @include media800px {
        font-size: 11pt;
        line-height: 15pt;
    }
}

a{
    font-size: $fuente-p;
    font-weight: 400;
    font-family: $owners;
    color: $gris-ermo;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: auto;

    @include media800px {
        font-size: 11pt;
    }
}

::selection {
    background-color: $amarillo-ermo; /* Fondo dorado */
    color: $negro-ermo; /* Color del texto negro */
    text-shadow: none; /* Sin sombra de texto */
} ::-moz-selection{
    background-color: $amarillo-ermo; /* Fondo dorado */
    color: $negro-ermo; /* Color del texto negro */
    text-shadow: none; /* Sin sombra de texto */
}

strong{
    font-weight: 600;
}










.title{
    @extend %margin-auto;
}

.master__body{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    @include media1200px {
        width: 80%;
        max-width: 100%;
    }

    @include media900px {
        width: 90%;
        max-width: 100%;
    }

    @include media500px {
        width: 100%;
        max-width: 100%;
    }
}


.master_button{
    width: auto;
}

.comboButton{
    display: flex;
    margin-top: 50px;

    @include media500px {
        display: block;
    }
}

.button {
    display: flex;
    max-width: 300px;
    min-width: 140px;
    justify-content: space-between;
    border: solid 1.5px $azul-ermo;
    padding: 12px 16px 12px 16px;
    border-radius: 32px;

    @include media500px {
        padding: 10px 16px 10px 16px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        font-family: $owners;
        color: $azul-ermo;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-top: 3px;
        margin-right: 5px;

        @include media500px {
            font-size: 16px;
        }
    }
    &:hover {
        background: $azul-ermo;
        p {
            color: $blanco-ermo;
        }
        .arrow__svg {
            fill: $blanco-ermo;
            transform: rotateZ(-45deg);
            transition: $transition-short;
        }
    }
    &.button-large {
        width: 20vw;

        @include media1200px {
            width: 50vw;
        }
    }
    &.button-white {
        border: solid 1.5px $blanco-ermo;
        p {
            color: $blanco-ermo;
        }
        &:hover {
            background-color: $blanco-ermo;
            p {
                color: $azul-ermo;
            }
            .arrow__svg {
                fill: $azul-ermo;
                transform: rotateZ(-45deg);
                transition: $transition-short;
            }
        }
    }
}

.combo__standard{
    @include media500px {
        width: 100%;
        max-width: 200px;
        margin-bottom: 6px;
    }
}

.combo__blue{
    background-color: $azul-ermo;
    width: 100%;
    max-width: 200px;

    &:hover{
        background-color: $negro-ermo;
        border-color: $negro-ermo;
    }

    p{
        color: $blanco-ermo;
    }

    .arrow__svg{
        fill: $blanco-ermo;
    }
}

.combo__standard{
    margin-right: 10px;
}

.buton:hover .curzr-big-circle {
    width: 90px;
    height: 90px;
    transition:  width, height 0.3s ease;
}

a:hover .curzr-big-circle {
    width: 90px;
    height: 90px;
    transition:  width, height 0.3s ease;
}



.logoErmo{
    height: auto;

    @include media500px {
        height: 60%;
        padding-top: 6px;
    }
}

.arrow__svg{
    margin-top: 3px;
    fill: $azul-ermo;
    transition: $transition-short;
    width: 34px;

    @include media500px {
        margin-top: 0px;
        width: 28px;
    }

 &.arrow__svg-white{
    fill: $blanco-ermo;
}
}

.hamburger{
    fill: $azul-ermo;
    cursor: pointer;

    @include media500px {
        height: 50%;
    }

    &:hover{
        fill: $negro-ermo;
    }
}











/* MENU LATERAL */



.header__master{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    z-index: 100;

    @include media500px {
        padding: 10px 20px 5px 20px;
    }
    
}

.header__video{

    video{
        width: 100%; 
    height: 100vh; 
    object-fit: cover;
    }

    .video-carga {
        width: 100%; 
        height: 100%;
        object-fit: cover;
      }
}   

.header__video-mobile{
    display: none;
}

.menu__slider{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $azul-ermo;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    z-index: 5;
    display: flex;
    overflow: auto;
    transition:  0.5s ease-in-out;
        @include media800px {
            width: 100%;
        }
    .button{
        border-color: $blanco-ermo;
        &:hover{
            background-color: $negro-ermo;
            border-color: $negro-ermo;
        }
    } 
    } 
.menu__slider.mostrar {
    right: 0;
    background-color: $azul-ermo;
    transition:  0.5s ease-in-out;
    z-index: -5;
  } 

.menu__slider-container{
    margin: 25vh 40px 0px 20px;
    width: 100%;
}

.open{
    fill: $blanco-ermo;
}
.menu__button{
    display: flex;
    width: 100%;
    gap: 4vw;
    justify-content: space-between;
    margin-bottom: 6vh; 
    transition: $transition-short;  
} .menu__button p{
    font-size: 32px;
    font-weight: 400;
    font-family: $owners;
    color: $azul-ermo;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 3px;
} .menu__button:hover {
    text-decoration: underline;
    color: $azul-ermo;
} .menu__button:hover .arrow__svg{
    transform: rotateZ(-45deg);
    transition: $transition-short;
}

.menu__slider-button{
    a{
        text-decoration: none;
    }
    p{
        color: $blanco-ermo;
    }
    .arrow__svg{
        fill: $blanco-ermo;
    }
}


#idioma-arrow{
    transform: rotateZ(90deg);
}

.menu__button-cafe{
    margin-top: 10vh;
    margin-right: 20px;


    
} .menu__button-cafe a{
    text-decoration: none;
    color: $azul-ermo;
} .menu__button-cafe .button{
    width: 100%;
    max-width: 100%;
    height: 28px;
    display: block;
} .menu__button-cafe .button p{
    font-size: 24px;
}

.menu-nav {
    background: none;
    border: none;
    cursor: pointer;
  }



  .header__master {
    transition: top 1s ease, background-color 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .header__master.hide {
    top: -100px; 
  }
  
  .header__master.show {
    top: 0;
  }
  
  .header__master.no-bg {
    background-color: transparent;
  }
  
  .header__master.with-bg {
    background-color: $blanco-ermo;
  }






@media only screen and (max-width: 800px){
    
    .header__video-mobile{
        display: block;
    }

    .header__video-desktop{
        display: none;
    }

    

}





/* INDEX */


.index__introduction{
    display: flex;
    padding: 8vw 5vw 5vw 5vw;
    gap: 48px;

    @include media800px {
        display: block;
    }
}

.index__introduction-div{
    flex: 1; 
    width: 50%;

    @include media800px {
        width: 100%;
        margin-top: 4vh;
        margin-bottom: 5vh;
    }

    a{
        text-decoration: underline;
        color: $azul-ermo;
    }
}

.index__projects{
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    @extend %margin-auto;
    
    @include media800px {
        display: block;
        width: 95%;
    }
}

.post__container{
    width: 50%; 
    max-width: 100%; 
    padding: 18px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @include media800px {
        width: 100%;
        margin-bottom: 56px;
    }
}

.post__thumbnail{
    width: 100%;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
} 

.post__thumbnail-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    transition: $transition-short;
    &:hover{
        filter: blur(5px);
        transform: scale(1.1);
        transition: $transition-short;
        @include media800px {
            filter: blur(0px);
        }
    }
}

.post__thumbnail-anchor{
    text-decoration: none;
    margin: 16px 0 0 0;    
    &:hover .post__arrow{
        transform: rotateZ(-45deg);
        transition: $transition-short;
    } 
    &:hover .post__thumbnail-title{
        text-decoration: underline;
        color: $azul-ermo;
    }
}

.post__arrow{
    transition: $transition-short;
    position: absolute;
    top: 0px;
    right: 0px;
}

.post__thumbnail-title{
    display: flex;
    justify-content: space-between;
    position: relative;
    &:hover .arrow__svg{
        transform: rotateZ(-45deg);
        transition: $transition-short;
    }
}

.post__thumbnail-description{
    margin: 14px 0 0 0;
    max-width: 85%;

    @include media500px {
        max-width: 95%;
    }

    h3{
        font-family: $neue;
        letter-spacing: -0.54px;
        color: $gris-ermo;
        line-height: 22px;
    }
} 

.title h3{
    font-size: 48px;
    font-weight: 400;
    font-family: $owners;
    text-transform: uppercase;
    color: $negro-ermo;
    margin-bottom: 36px;
    margin-left: 20px;

    @include media600px {
        font-size: 32px;
        line-height: 36px;
    }
}

.post__button{
    margin: auto;
} .post__button-half-height{
    margin: 40px 0px 0px 20px;
} .post__button a, .post__button-half-height a{
    text-decoration: none;
} .post__button-center{
    display: flex;
    justify-content: center;
} .post__button-noleft-margin{
    margin: 100px 0px 0px 0px;
} .post__button-services-slider{
    position: absolute;
    bottom: 24px;
} .post__button-40{
    margin-top: 40px;
}




.index__services{
    box-sizing: border-box;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin: 0 20px 0 20px;
    user-select: none;

    @include media1850px {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media1650px {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media1200px {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media800px {
        display: flex;
        overflow-x: scroll;
        width: auto;
        height: auto;
        scroll-snap-type: x mandatory;
        cursor: grab;
        margin: 0px;
    }
}

.index__services-container{
    border:solid 1.5px $azul-ermo;
    padding: 30px;
    height: 450px;
    position: relative;
    &:hover{
        background-color: rgb(247, 247, 247);
    }

    @include media1400px {
        height: 400px;
    }

    @include media800px {
        width: 50vw;
        flex: 0 0 auto;
        height: 450px;
    }
}

.index__services > .index__services-container:first-child {
    @include media800px {
        margin-left: 24px;
    }

  }

  .index__services > .index__services-container:last-child {
    @include media800px {
        margin-right: 24px;
    }

  }

.index__services-container h3{
    font-size: 32px;
    color: $azul-ermo;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 28pt;
}








.index__info {
    display: flex;
    gap: 20px;
    margin: 20px;

    
    @include media1200px {
        display: block;
        gap: 20px;
        margin: 0px;
    }
  }
  
  .index__team {
    background-color: $gris-claro-ermo;
    width: 50vw;
    padding: 30px;
    text-align: center;
    transition: 0.3s ease-in;

    @include media1200px {
        width: auto;
        background-color: $azul-ermo;
    }
  
    &:hover {
      background-color: $azul-ermo;
      width: 60vw;

      @include media1200px {
        background-color: $azul-ermo;
        width: auto;
    }
    }
  
    &:hover .index__contact {
      width: 40vw;

      @include media1200px {
        width: auto;
    }
    }
  }
  
  .index__contact {
    background-color: $gris-claro-ermo;
    width: 50vw;
    padding: 30px;
    text-align: center;
    transition: 0.3s ease-in;

    @include media1200px {
        width: auto;
        background-color: $negro-ermo;
    }
  
    &:hover {
      background-color: $azul-ermo;
      width: 60vw;

      @include media1200px {
        background-color: $negro-ermo;
        width: auto;
    }

    }

    &:hover .index__team {
        width: 40vw;

        @include media1200px {
            width: auto;
        }
      }
  }
  
  .index__info-container-img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .index__info-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .index__info-title {
    margin: 30px 0px 20px 0px;
    
    h3 {
      text-align: center;
      color: $blanco-ermo;
      margin-left: 0px;
    }
  }
  
  .info-title-2 h3 {
    color: white;
  }
  
  .index__team-txt {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 30px 0 0 20px;

    @include media800px {
        font-size: 16px;
        line-height: 20px;
    }
  
    &.team-txt-1 {
      color: white;
      max-width: 600px;
      width: 100%;
      text-align: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;
    }
  
    &.team-txt-2 {
      color: $azul-ermo;
    }
  }
  
  footer {
    margin: 0 20px 0 20px;
  
    .post__button {
      margin: 0 0 20px 0;
    }
  }
  
  .footer__container {
    display: grid;
    gap: 30px;
    grid-template-columns:400px repeat(3, 1fr);
    margin-left: 20px;
    margin-right: 20px;

    @include media1850px {
        grid-template-columns: 300px repeat(3, 1fr);
    }

    @include media1650px {
        grid-template-columns: 250px repeat(3, 1fr);
    }

    @include media900px {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    @include media500px {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .footer__info-datos{
        margin-bottom: 24px;
    }.footer__info-datos a{
        display: block;
        margin-bottom: 20px;
    } .footer__info-datos h4{
        margin-bottom: 8px;
    }

    .button{
        max-width: 200px;
    }
    
  }










.swiper {
    width: auto;
    max-width: 100%;
    margin: 0 20px 0 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;

    @include media1850px {
        width: calc(100% / 3);
    }

    @include media1200px {
        width: calc(100% / 2);
    }

    @include media900px {
        width: 50%;
    }

    @include media600px {
        width: 40%;
    }

    @include media500px {
        width: 40%;
    }
}

.carousel-track img {

    @include media1200px {
        width: 50%;
    }
}

.swiper-button-next, .swiper-button-prev{
    display: none;
}

.swiper-pagination{
    display: none;
}


    .swiper-slide img {
        width: calc(100% / 4);
    }





// SERVICIOS

.service__introduction{
    padding: 8vw 2vw 5vw 0vw;

    h1{
        @include media900px {
            margin-left: 0px;
            margin-right: 0px;
            }
    }
}

.servicios__imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20vh;

    @include media800px {
        grid-template-columns: 1fr;
        }
}

.servicios__img-chld img{
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.servicios__explicacion{
    // column-count: 2;
    // column-gap: 30px;
    // margin-top: 0px;

    @include media900px {
        column-count: 1;
        column-gap: 0px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        }
}


.servicios__vid{
    width: 100%;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin: 0px
} 

.post__servicios-vid {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    transition: $transition-short;
    &:hover{
        filter: blur(5px);
        transform: scale(1.1);
        transition: $transition-short;
        @include media800px {
            filter: blur(0px);
        }
    }
}








//SERVICIOS

.servicios__master{
    padding-top: 14vh;
}

.servicios__h1{
    margin: 0px 20px 100px 20px;

    @include media600px {
        font-size: 40px;
        line-height: 44px;
    }
}

.servcomp__master{

    margin: 0px 20px 0px 20px;

    .servcomp__principal{
        display: grid;
        grid-template-columns: 1fr 400px;
        gap: 100px;

        @include media1850px {
            gap: 40px;
            grid-template-columns: 1fr 400px;
        }
        @include media1000px {
            display: block;
        }

        h2{
            font-size: 48px;
            vertical-align: center;

            @include media600px {
                font-size: 32px;
                line-height: 36px;
            }
        }

        .servcomp__img{ 

            margin-bottom: 80px;

            @include media1000px {
                margin-bottom: 40px;
            }
        
            img{
                border-radius: 10px;
                width: 100%;
                height: 160px;
                object-fit: cover;
                display: flex;

                @include media1000px {
                    height: 200px;
                    margin-top: 30px;
                }
            }
        }
    }

    .servcomp__secundario{
        display: grid;
        grid-template-columns: 1fr 400px;
        gap: 100px;
        margin-top: 40px;

        @include media1850px {
            gap: 40px;
            grid-template-columns: 1fr 400px;
        }
        @include media1000px {
            display: flex;
            flex-direction: column; 
        }
        @include media800px {
            margin-top: 0px;
        }

        p{
            order: 1;

            @include media1000px {
                order: 2;
            }
        }

        .servcomp__destacado{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            height: auto;
            max-height: 200px;
            order: 2;

            @include media1000px {
                margin-top: 0px;
                max-height: auto;
                margin-bottom: 40px;
                order: 1;
            }


            .servcomp__component{
                background-color: $azul-ermo;
                border-radius: 10px;
                height: auto;
                display: flex;
                padding: 10px 5px 10px 5px;

                @include media500px {
                    display: block;
                }

                &:hover{
                    background-color: $negro-ermo;
                    transition: 0.2s;
                }

                h3{
                    text-align: center;
                    display: flex;
                    align-items: center;
                    color: $blanco-ermo;
                    text-transform: uppercase;
                    vertical-align: center;
                    line-height: 20px;
                    font-size: 16px;

                    @include media600px {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }

                img{
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    height: 40px;
                    width: auto;

                    @include media500px {
                        margin-bottom: 10px;
                    }
                }

                .servcomp__img-container{
                    display: flex;
                    margin: 0px 10px 0px 10px;
                    justify-content: center;
                }
            }
        }



    }
}






//LEGAL

.legal{


    @include media900px {
        margin: 0px 20px 0px 20px;
    }
    
    h2{
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 30px;
    }
}








//ARTICULO

.articulo{

    padding-top: 15vh;

    h1{
        @include media900px {
            padding: 0px 10vw 0px 10vw;
        }
        @include media600px {
            padding: 0px 20px 0px 20px;
        }
    }

    .articulo-div{
        display: flex;
        margin-top: 10vh;

        @include media900px {
            display: block;
            padding: 0px 10vw 0px 10vw;
        }
        @include media600px {
            padding: 0px 20px 0px 20px;
        }

        .articulo-contenido{
            margin-right: 100px;

            @include media900px {
                margin-right: 0px;
            }

            h2{
                margin-bottom: 3vh;
            }

            p{
                margin-bottom: 8vh;
            }
        }

        .articulo-nav{
            width: auto;
            min-width: 300px;
            position: sticky;
            height: 100%;
            top: 20vh;

            @include media900px {
                position: relative;
                top: 0px;
                min-width: 0;
            }

            .articulo-nav__autor{

                display: flex;
                margin-bottom: 5vh;

                .articulo-nav__autor-color{
                    background-color: $azul-ermo;
                    width: 30px;
                    height: auto;
                    border-radius: 5px;
                    margin-right: 8px;
                }

                p{
                    color: $gris-ermo;
                    font-family: $neue;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: -0.28px;
                }
            }

            .articulo-nav__articulos{
                margin-bottom: 5vh;

                .articulo-nav__title{
                    color: $azul-ermo;
                    font-family: $owners;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }

                .articulo-nav__destacado{

                    border-radius: 8px;
                    background: #323232;
                    padding: 8px;
                    margin-bottom: 8px;
                    &:hover{
                        background-color: $azul-ermo;
                    }

                    p{
                        color: $blanco-ermo;
                        font-family: $owners;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; 
                        letter-spacing: 0.6px;
                        text-transform: uppercase;
                    }
                }
            }

            .button{
                padding: 8px 16px 8px 16px;
                max-width: 140px;
                background-color: $azul-ermo;
                    &:hover{
                        background-color: $negro-ermo;
                        border-color: $negro-ermo;
                    }

                p{
                    font-size: 14px;
                    color: $blanco-ermo;
                }

                .arrow__svg{
                    fill: $blanco-ermo;
                }
            }
        }
    }
}






//FRAMER MOTION

.slide-margin{
    height: 1px;
    width: 100%;

    @include media900px {
        height: 20vh;
    }


}